<div class="ordenes-content">
    <h3>Órdenes Médicas</h3>
    <p>Esta es la sección de Órdenes, donde se muestran las órdenes médicas.</p>
    <button id="btnOrdenes" class="btn btn-primary mt-3">Ejecutar Función</button>
    <!-- Aquí puedes agregar más detalles específicos de las órdenes -->
</div>

@* <script src="~/js/ordenes.js"></script> *@