<div class="triaje-content">
    <h3>Información de Triaje</h3>
    <p>Esta es la sección de Triaje, donde se muestran los datos relacionados al triaje.</p>
    <!-- Aquí puedes agregar más detalles específicos del triaje -->
</div>

@* <script src="~/js/triaje.js"></script> *@