@* _TablaAtenciones.cshtml *@
<div id="loadingOverlay" class="d-none position-fixed top-0 start-0 w-100 h-100 bg-light bg-opacity-75 text-center" style="z-index: 1050;">
    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
        <p class="mt-2">Cargando resultados...</p>
    </div>
</div>

<!-- Controles de paginación -->
@Html.Partial("_PaginationPartial")

<div class="mb-2">
    <div class="row">
        <div class="row" id="cardsContainer"></div>     
        <div id="MensajeNoResultados" class="alert alert-info" style="display:none;">
            No se encontraron resultados.
        </div>
    </div>
</div>





